footer{
	background-color: #f4f4f4;
	height: 100px;
	}
.menu1{
	background-color: #666;
	margin-top: 2px;
	margin-bottom: 5px;
}
.header-container{
}
.nav > li{
	border-right: 1px solid #ddd;
}
.menus{
	padding-left: 0px;
	padding-right: 0px;
}
.nav-tabs > li > a {
	font-size: 10pt;
	color: #fff;
	font-weight: bold;
}
.ob-latera{
	margin-left: -30px;
}
#logo1{
  height: 100px;
  width: 115px;
}
#slider-aprotec{
	width: 70%;
	margin-left: 15%;
}
#slide-aprotec{
	margin-top: -15px;
  	height: 10%;
  	width: 100%;
  	padding: 7px;
}
.FAQ-list{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    margin:50px 0px 0px;
    padding:0px;
    text-align: left;
}
.FAQ-listItem{
	display: inline-block;
	margin: 10px 0px;
}
.social{
	margin-top: 5px;
}
.redes-sociales{
	padding-left: 20px;
	padding-top: 30px;
	float: left;
}
.redes-sociales div {
    float: left;
    margin: 0px 10px 0px 0px;
}
.twitter a {
    width: 32px;
    height: 32px;
    background: url("../complementos/img/twitter.png") repeat scroll center bottom transparent;
    display: block;
    text-indent: -99999px;
}
.facebook a {
    width: 32px;
    height: 32px;
    background: url("../complementos/img/facebook.png") repeat scroll center bottom transparent;
    display: block;
    text-indent: -99999px;
}
.youtube a {
    width: 32px;
    height: 32px;
    background: url("../complementos/img/youtube.png") repeat scroll center bottom transparent;
    display: block;
    text-indent: -99999px;
}
.facebook a:hover, .twitter a:hover, .youtube a:hover {
background-position:top center;
}
#twitter{
	margin-top: 5px;
}
.logos-empresas{
    height: 100px;
    width: 125px;
    margin: 3px;
}
.miperfil-a{
    color: black;
    font-size: 10pt;
}
#myperfil{
    margin: 15px 0px;
}
.tab-content{
    margin: 15px 20px;
}
.img-post{
    width: 300px;
    height: 300px;
    margin: 3px;
}
.beta-alert{
    position: fixed;
    z-index: 1;
    margin-top: 15px;
    margin-left: 75%;
    margin-right: 5px;
}
#next_new{
    margin-left: 45%;
}