<!DOCTYPE html>
<html lang="es">
      <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="author" content="@Norman404">    
            <title>{Title}</title>
            <base href="http://localhost/Aprotec/">
            <link href="main/templates/css/bootstrap.min.css" rel="stylesheet">
            <link href="main/templates/css/styles.css" rel="stylesheet">
            <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
      </head>
      <body>
            <div class="container">
                  {header}
                  {slider}
                  <div class="row">
                        <div class="col-md-2">{barra-lateral}</div>
                        <div class="col-md-10">{container}</div>
                  </div>
            </div> <!-- /container -->
            {footer}
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="main/templates/js/bootstrap.min.js"></script>
            <script src="main/templates/js/script.js"></script>
            <!--[if lt IE 9]><script>nav_old('[navs_old]');</script><![endif]-->
      </body>
</html>